
<!-- Top container -->
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Home</a>
      {% if request.user.is_authenticated %}       
        <div class="w3-dropdown-hover">
            <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Timesheets</button>
            <div class="w3-dropdown-content w3-bar-block w3-red w3-card-4">
                <a href="{% url 'project:weekly_timesheet_list' %}" 
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Weekly</a>
                <a href="{% url 'project:daily_timesheet_list' %}" 
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Daily</a>
                <a href="{% url 'project:monthly_timesheet_list' %}" 
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Monthly</a>
            </div>
        </div>
        <a href="{% url 'project:project_list' %}" 
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Projects</a>
        <a href="{% url 'customer:customer_list' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Customers</a>
        <a href="{% url 'mysite:user_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Profile</a>
      {% endif %}
      {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Admin</a>
      {% endif %}
      {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Logout</a>
      {% else %}
        <a href="{% url 'account_signup' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Sign-up</a>
        <a href="{% url 'account_login' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Login</a>
      {% endif %}
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Home</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'project:project_list' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Projects</a>
          <a href="{% url 'project:timesheet_list' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Timesheets</a>
          <a href="{% url 'customer:customer_list' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Customers</a>
          <a href="{% url 'mysite:user_profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Profile</a>
        {% endif %}
        {% if request.user.is_superuser %}
          <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Admin</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Logout</a>
        {% else %}
          <a href="{% url 'account_signup' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Sign-up</a>
          <a href="{% url 'account_login' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-bar-item-shadow">Login</a>
        {% endif %}
    </div>
  </div>

  <script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>