{% extends "mysite/site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load form_filters %}

{% block head_title %}{% trans "Edit Project" %}{% endblock %}

{% block content %}
<!-- Header -->


  <div class="w3-container w3-margin-top">
      <h2 class="w3-text-teal">Create / Update Project</h2>
      <form method="post" class="w3-container w3-card-4 w3-light-grey w3-padding-large w3-margin-top">
          {% csrf_token %}
          <div class="w3-row">
            <div class="w3-half">
          <div class="w3-margin-bottom">
              <label for="id_projectmanager" class="w3-text-teal">Project Manager</label>
              {{ form.projectmanager|add_class:"w3-input w3-border w3-round" }}
          </div>
          <div class="w3-margin-bottom">
              <label for="id_name" class="w3-text-teal">Project {{project.id}}: Name</label>
              {{ form.name|add_class:"w3-input w3-border w3-round" }}
          </div>
          <div class="w3-margin-bottom">
              <label for="id_description" class="w3-text-teal">Description</label>
              {{ form.description|add_class:"w3-input w3-border w3-round" }}
          </div>
          <div class="w3-row-padding w3-margin-bottom">
              <div class="w3-half">
                  <label for="id_start_date" class="w3-text-teal">Start Date</label>
                  {{ form.start_date|add_class:"w3-input w3-border w3-round" }}
              </div>
              <div class="w3-half">
                  <label for="id_end_date" class="w3-text-teal">End Date</label>
                  {{ form.end_date|add_class:"w3-input w3-border w3-round" }}
              </div>
          </div>
          <div class="w3-margin-bottom">
              <label for="id_project_status" class="w3-text-teal">Status</label>
              {{ form.project_status|add_class:"w3-select w3-border w3-round" }}
          </div>
        </div>
    </div>
        
         
            <h3>Tasks</h3>
            {{ task_formset.management_form }}
            <div class="w3-row w3-dark-grey w3-border">
                <div class="w3-col s1 w3-padding">No.</div>
                <div class="w3-col s2 w3-padding">Name</div>
                <div class="w3-col s4 w3-padding">Description</div>
                <div class="w3-col s2 w3-padding">Due date</div>
                <div class="w3-col s1 w3-padding">Completed?</div>
                <div class="w3-col s1 w3-padding">Delete?</div>
            </div>
            {% for form in task_formset %}
            <div class="task-form">
                <div class="w3-row w3-border">
                    <div class="w3-col s1 w3-padding">{{ forloop.counter }}.</div>
                    <div class="w3-col s2">{{ form.name|add_class:"w3-input w3-border w3-round" }}</div>
                    <div class="w3-col s4">{{ form.description|add_class:"w3-input w3-border w3-round" }}</div>
                    <div class="w3-col s2">{{ form.due_date|add_class:"w3-input w3-border w3-round"}}</div>
                    <div class="w3-col s1 w3-padding">{{ form.completed|add_class:"w3-input w3-border w3-round w3-check"}}</div>
                    <div class="w3-col s1 w3-padding">{% if form.instance.pk %}{{ form.DELETE|add_class:"w3-input w3-border w3-round w3-check" }}{% endif %}</div>
                </div>
            </div>
            {% endfor %}
           
          <button type="submit" class="w3-button w3-teal w3-round-large w3-margin-top"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
          <a href="{% url 'home' %}" class="w3-button w3-teal w3-round-large w3-margin-top"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </form>
  </div>

    {% if request.user.is_anonymous %}
        <p class="w3-left"><a class="w3-button w3-green w3-padding-large w3-large w3-margin-top" href="{% url 'account_login' %}">LOGIN</a></p>
    {% endif %}
    <br>
  </div>
{% endblock %}