{% extends "mysite/site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% block head_title %}{% trans "Timesheets" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Your weekly timesheet</h1>
  </header>
  <br/>

    <div class="w3-bar w3-border w3-indigo w3-card-4">
      <a href="{% url 'project:timesheet_list' %}" style="width:10%; font-size: 24px;" class="w3-bar-item w3-bar-item-shadow w3-block w3-button w3-mobile w3-bebas-neue w3-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
      <a href="#" style="width:80%; font-size: 24px;" class="w3-bar-item w3-block w3-button w3-mobile w3-bebas-neue w3-pale-blue">Week starting: {{ week_start|date:"l, jS F Y." }}</a>
      <a href="#" style="width:10%; font-size: 24px;" class="w3-bar-item w3-bar-item-shadow w3-block w3-button w3-mobile w3-bebas-neue w3-indigo" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</a>
    </div>

  <br/>
  <!-- Existing forms with the class "timesheet-form" -->
    
      <form method="POST" action="{% url 'project:timesheet_view' week_start %}" class="w3-card-4">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}
        <table class="w3-table">
        {% for form in formset.forms %}
          {% if forloop.first %}
            <thead>
              <tr class="w3-topbar w3-bottombar w3-border-blue w3-pale-blue">
                {% for field in form.visible_fields %}
                  {% if forloop.last %}
                    <th class="w3-center">Delete</th>
                  {% endif %}
                  <th>{{ field.label|capfirst }}</th>
                {% endfor %}
              </tr>
            </thead>
          {% endif %}
            <tbody>
            {% comment %} <div id="timesheet-formset-container" class="timesheet-formset-container">
            <div id="timesheet-form-{{ forloop.counter0 }}" class="timesheet-form"> {% endcomment %}
              <tr class="{% cycle row1 row2 %}">
                {% for field in form.visible_fields %}
                    {% if forloop.last %}
                    <td>
                      <a href="#" id="remove-form-btn" name="remove-form-btn" class="w3-button">
                        <span class="w3-text-red">
                          <i class="fa fa-trash fa-2" aria-hidden="true"></i></span></a>
                    </td>
                    {% endif %}
                    <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}
                      {{ field }}
                    </td>
                {% endfor %}
              </tr>
        {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <button id="#add-item-btn" name="#add-item-btn" class="w3-bar w3-round w3-border-green w3-green w3-button w3-mobile">
                    <i class="fa fa-plus fa-2" aria-hidden="true"></i> add</button>
                </td>
              </tr>
              <tr id="totals" name="totals" class="w3-topbar w3-bottombar w3-border-blue w3-pale-blue">
                  <td><strong>Totals:</strong></td>
                  <td class="w3-padding"><strong><span id="week-total">0</span></strong></td>
                  <td class="w3-padding"><strong><span id="monday-total">{{ weekday_totals.0 }}</span></strong></td>
                  <td class="w3-padding"><strong><span id="tuesday-total">{{ weekday_totals.1 }}</span></strong></td>
                  <td class="w3-padding"><strong><span id="wednesday-total">{{ weekday_totals.2 }}</span></strong></td>
                  <td class="w3-padding"><strong><span id="thursday-total">{{ weekday_totals.3 }}</span></strong></td>
                  <td class="w3-padding"><strong><span id="friday-total">{{ weekday_totals.4 }}</span></strong></td>
                  <td class="w3-padding"><strong><span id="saturday-total">{{ weekday_totals.5 }}</span></strong></td>
                  <td class="w3-padding"><strong><span id="sunday-total">{{ weekday_totals.6 }}</span></strong></td>
                  <td></td><td></td>
              </tr>
            </tfoot>
      </table>
    </form> 
  <br/>
</div>
<br/>
<!-- Render empty form template for cloning -->
<div id="empty-form" class="timesheet-form" style="display: none;">
  {{ formset.empty_form.as_table }}
</div>

</div>
<script src="{% static 'js/timesheet.js' %}"></script>
{% endblock %}
