
{% extends "mysite/site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Groups" %}{% endblock %}

{% block content %}

<!-- Header -->
<div class="w3-container w3-margin-top">
    {% include "account/admin_nav.html" %}
    <div class="w3-container w3-half">
        <div class="w3-main" style="margin-left:200px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <h2>Group Memberships</h2>
            <ul>
                {% for group in groups %}
                    <li>{{ group.name }}</li>
                {% empty %}
                    <li>You are not a member of any groups.</li>
                {% endfor %}
            </ul> 
        </div>
    </div>
</div>
{% endblock %}
