{% extends "mysite/site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Invites" %}{% endblock %}

{% block content %}

<!-- Header -->
<div class="w3-container w3-margin-top">
    {% include "account/admin_nav.html" %}
    <div class="w3-container w3-half">
        <div class="w3-main" style="margin-left:200px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <h2>Invited Members</h2>
            <table class="w3-table-all">
                <tr>
                    <td>Person</td>
                    <td>Joined</td>
                    <td>License End</td>
                    <td>Renew?</td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>20/10/2024</td>
                    <td>20/10/2025</td>
                    <td>Yes</td>
                </tr>
            <table>
            <h2>Invited Members</h2>
            <form>
                <input type="text" placeholder="Name" class="w3-input"/>
                <input type="text" placeholder="Email" class="w3-input"/>
                <input type="text" placeholder="Message" class="w3-input"/>
                <button class="w3-btn w3-green">Send Invite</button>
            </form>
            <h3>Pending invites</h3>
            <ul><li>John Doe, sent 29 Oct 2024</li></ul>
            <h3>Expired invites</h3>
            <ul><li>John Doe, expired 5th May 2024</li></ul>
            <h3>Declined invites</h3>
            <ul><li>John Doe, declined 12 Aug 2024</li></ul>          
        </div>
    </div>
</div>
{% endblock %}
