{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Login</h1>
  </header>
  <br>


<form class="login w3-container w3-card-4" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <br/>
  <table>
  	<tbody>
  		{% for field in form %}  		
	  		<tr>
	  			<td>{{ field.label }}</td>
	  			<td><div class="w3-padding">{{ field }}</div></td>
	  		</tr>
  		{% endfor %}
  	</tbody>
  </table>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction w3-button w3-large w3-section w3-green w3-ripple" type="submit">{% trans "Login" %}</button>
</form>
</div>
{% endblock %}
