{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Log out</h1>
  </header>  
    <br>
<p><strong>{% trans 'Are you sure you want to log out?' %}</strong></p>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="w3-button w3-red w3-padding-large w3-large" type="submit">{% trans 'Log out' %}</button>
</form>
</div>

{% endblock %}
