{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="w3-container w3-half w3-margin-top">
	<header class="w3-container">
	  <h1>{% trans "Change Password" %}</h1>
	</header>
    <form method="POST" action="{% url 'account_change_password' %}" class="w3-container w3-card-4 password_change">
        {% csrf_token %}
        <br/>
        <table>
        	<tbody>
        		{% for field in form %}
        		<tr>
	        		<td>{{ field }}</td>
	        		<td><small><b>Enter your {{ field.label|lower }}</b></small></td>
        		</tr>
        		{% endfor %}
        	</tbody> 
        </table>
       
        <button class="w3-button w3-section w3-blue w3-ripple" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
