{% extends "mysite/site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- Header -->
<div class="w3-container w3-margin-top">
  {% include "account/admin_nav.html" %}
  <div class="w3-container w3-half">
    <div class="w3-main" style="margin-left:200px">
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <h2>Password Reset</h2>
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset  w3-container w3-card-4">
          {% csrf_token %}
          {{ form.as_p }}
          
          <input type="submit" value="{% trans 'Reset My Password' %}" class="w3-margin w3-button w3-section w3-blue w3-ripple"/>
      </form>

      <p>{% blocktrans %}Please contact our help desk if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock %}
