{% extends "mysite/site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
    {% include "account/admin_nav.html" %}
    <div class="w3-container w3-half">
        <div class="w3-main" style="margin-left:200px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
			<h2>Change Password</h2>
    		<form method="POST" action="{% url 'account_change_password' %}" class="w3-container w3-card-4 password_change">
				{% csrf_token %}
				<br/>
				<table>
					<tbody>
						{% for field in form %}
						<tr>
							<td>{{ field }}</td>
							<td><small><b>Enter your {{ field.label|lower }}</b></small></td>
						</tr>
						{% endfor %}
					</tbody> 
				</table>
				<button class="w3-button w3-section w3-blue w3-ripple" type="submit" name="action">{% trans "Change Password" %}</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
